#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.topArea {
    display: flex;
    align-items: center;
    gap: 10px;
}